

.product-card {
//   border-radius: 12px;
  transition: 0.3s;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.product-card img {
  height: 200px;
  object-fit: contain;
  padding: 10px;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #0d6efd;
}

.rating {
  font-size: 13px;
  color: #555;
}

